#input-test {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 10px;
    outline: none;
    padding: 8px;
    transition: 300ms;
    height: 100px;
    text-align: top;
}

